@import '../colors.css';

#app {
    position: absolute;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

#app > div:not(:last-child) {
    border-right: 1px solid var(--color-lightgray);
}

/* 스크롤바 스타일링 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-gray-100);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-500);
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-700);
}

/* Firefox 스크롤바 스타일 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-500) var(--color-gray-100);
}