@import '../colors.css';

#inputForm {
    flex: 1;
    padding: 50px;
    padding-top: 0;

    display: flex;
    flex-direction: column;
}

#inputForm .top {
    height: 120px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .mode {
        font-size: 30px;
        flex: 1;
    }
}

#inputForm .input-field {
    position: relative;

    flex: 1;

    textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-size: 16px;
        outline: none;
        border: 0;
    }
}

#inputForm .input-field button {
    background: var(--color-primary);
    border: none;
    color: var(--color-white);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;

}

#inputForm .input-file {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;

    svg {
        position: relative;
        left: -10px;
    }
}

#inputForm .input-file::before {
    content: '';
    position: absolute;
    
    width: calc(100% + 20px);
    height: 100%;

    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 5px), -50%);

    background: rgba(0,0,0,0.05);
    padding: 10px;

    opacity: 0;
}

#inputForm .input-file:hover::before {
    opacity: 1;
}

#inputForm .input-file:active::before {
    background: rgba(0,0,0,0.1);
}

#inputForm .input-field button:hover {
    background: var(--color-primary-hover);
}

#inputForm .input-field button:disabled {
    background: var(--color-disabled);
    cursor: not-allowed;
}